<!-- Heading Component -->
<div class="c-heading t-red">
    <div class="c-heading__block">
        <div class="c-heading__block__header">
            <h2>Lisa Ziegler Test</h2>
        </div>
    </div>
</div>

<!-- Add Tabs Component Here -->

<div class="c-tabView">
	<nav class="c-tabView__tabs t-black">
	    <ul role="tablist">
	        <li>Layout Structure</li>
	        <li>Card Components</li>
	    </ul>
	</nav>
	<div class="c-tabView__content">
	    <div class="c-tabView__content__block u-inner">
			<section class="section-content_single">
                <h1>Single Column</h1>
                <img src="http://placeimg.com/1000/350/animals">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Ut enim ad minim veniam.</li>
                        <li>Excepteur sint occaecat cupidatat non proident.</li>
                    </ul>
                    <a href="#">Cras in risus quis lorem suscipit eleifend. Nunc tempus est non arcu rutrum elementum.</a>
            </section>
			<section class="section-content_duo">
                <div class="c-grid__row">
                    <div class="c-grid__column--6">
                        <h1>Duo Column</h1>
                        <img src="http://placeimg.com/1000/350/animals">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Ut enim ad minim veniam.</li>
                            <li>Excepteur sint occaecat cupidatat non proident.</li>
                        </ul>
                        <a href="#">Cras in risus quis lorem suscipit eleifend. Nunc tempus est non arcu rutrum elementum.</a>
                    </div>
                    <div class="c-grid__column--6">
                        <h1>Duo Column</h1>
                        <img src="http://placeimg.com/1000/350/animals">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Ut enim ad minim veniam.</li>
                            <li>Excepteur sint occaecat cupidatat non proident.</li>
                        </ul>
                        <a href="#">Cras in risus quis lorem suscipit eleifend. Nunc tempus est non arcu rutrum elementum.</a>
                    </div>
                </div>
            </section>
			<section class="section-content_tri">
                <div class="c-grid__row">
                    <div class="c-grid__column--4">
                        <h1>Tri Column</h1>
                        <img src="http://placeimg.com/1000/350/animals">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Ut enim ad minim veniam.</li>
                            <li>Excepteur sint occaecat cupidatat non proident.</li>
                        </ul>
                        <a href="#">Cras in risus quis lorem suscipit eleifend. Nunc tempus est non arcu rutrum elementum.</a>
                    </div>
                    <div class="c-grid__column--4">
                        <h1>Tri Column</h1>
                        <img src="http://placeimg.com/1000/350/animals">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Ut enim ad minim veniam.</li>
                            <li>Excepteur sint occaecat cupidatat non proident.</li>
                        </ul>
                        <a href="#">Cras in risus quis lorem suscipit eleifend. Nunc tempus est non arcu rutrum elementum.</a>
                    </div>
                    <div class="c-grid__column--4">
                        <h1>Tri Column</h1>
                        <img src="http://placeimg.com/1000/350/animals">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Ut enim ad minim veniam.</li>
                            <li>Excepteur sint occaecat cupidatat non proident.</li>
                        </ul>
                        <a href="#">Cras in risus quis lorem suscipit eleifend. Nunc tempus est non arcu rutrum elementum.</a>
                    </div>
                </div>
            </section>
	    </div>
	    <div class="c-tabView__content__block u-inner grid">
	    	<div class="c-grid__row">
                <div class="c-grid__column--6">
                    <div class="c-card card-large card-img-top">
                        <img class="c-card--img" src="http://placeimg.com/1000/350/animals" alt="Card image">
                        <div class="c-card--body">
                            <h3 class="card-title">Card Title</h3>
                            <h5 class="card-author">by Author's Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <button type="button" class="btn btn-red">Action</button><button type="button" href="#" class="btn">Outward<i class="fa fa-external-link"></i></button>
                        </div>
                    </div>
                </div>
                <div class="c-grid__column--6">
                    <div class="c-card card-large card-img-bottom">
                            <img class="c-card--img" src="http://placeimg.com/1000/350/animals" alt="Card image">
                            <div class="c-card--body">
                                <h3 class="card-title">Card Title</h3>
                                <h5 class="card-author">by Author's Name</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <button type="button" class="btn btn-red">Action</button><button type="button" href="#" class="btn">Outward<i class="fa fa-external-link"></i></button>
                            </div>
                    </div>
                    </div>
            </div>
            <div class="c-grid__row">
                <div class="c-grid__column--6">
                    <div class="c-card card-small">
                            <img class="c-card--img" src="http://placeimg.com/1000/350/animals" alt="Card image">
                            <div class="c-card--body">
                                <h3 class="card-title">Card Title</h3>
                                <h5 class="card-author">by Author's Name</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <button type="button" class="btn btn-red">Action</button><button type="button" href="#" class="btn">Outward<i class="fa fa-external-link"></i></button>
                            </div>
                    </div>
                </div>
            </div>
	        </div>
	    </div>
	</div>

<!--
    IF YOU NEED TO USE JAVASCRIPT, LINK THEM HERE
    Javascript files should live in the _public/js folder
    
    <script src="js/main.js"></script>
-->
<script src="js/base/tabs.component.js"></script>
<script src="js/events.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">